# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/
